*{
				margin:0;
				padding:0;
}
#banner{
background-image:linear-gradient(rgba(0,0,0,0.5), #009688),url('Images/backgroundimg.png');
			background-size: cover; background-position: center; 
			height:110vh;
		}

.logo {

width: 100px;
position: absolute;
top: 0.5%;
left: 40%%;
												
}
.banner-text{
text-align: center;
color: #fff;
padding-top: 180px;

}
.banner-text h1{ 
font-size: 100px;

font-family: 'Kaushan Script', cursive;


}

.banner-text p{
font-size: 20px;
font-style: italic; 
font-family: 'Roboto', sans-serif;
}
.banner-btn{ margin: 70px auto 0;

}

.banner-btn a{

width: 150px;
text-decoration: none;
 display: inline-block; 
 margin: 0 10px;
  border: .5px solid #fff;
padding: 12px 0;
color: #fff;
position: relative;
z-index:1;
transition: color 0.5s;
} 
.banner-btn a span{
height: 100%;
position: absolute;
top: 0;
width: 0; 
left: 0; 
background: #fff;
z-index: -1;
transition: 0.5s;

}
.banner-btn a:hover span{ 
width:100%;
}
.banner-btn a:hover{ 
color:#000;
}
#sideNav{
width: 180px;
height: 100vh;
position: fixed; top: 0;
right: -250px;
background: #009688;
z-index: 2;
transition: 0.5s;
}
nav ul li {
list-style: none; 
margin: 50px 20px;

}
 nav ul li a{
text-decoration: none;
 color: #fff;

}
#menuBtn{
width: 50px;
height: 50px;
background: #009688;
 text-align: center;
position: fixed;
right: 30px;
top: 20px;
border-radius: 3px;
z-index: 3;
cursor: pointer;
transition: 0.5s;

}
#menuBtn img{
width: 20px;
margin-top: 15px;

}

@media screen and (max-width: 770px) {


banner-text h1{ 
font-size: 44px;

}

.banner-btn a{ 
display: block; 
margin: 20px auto;

}

}
#feature{
width: 100%; 
padding: 70px 0;
}
.title-text{
text-align: center; padding-bottom: 70px;
}
.title-text p{ 
margin: auto;
 color: #009688; 
 font-weight: bold; 
 position: relative; 
 display: inline-block;
font-size: 20px;
z-index: 1;

} 
.title-text p::after{
content: '';
width: 50px;
height: 35px;
background: linear-gradient(#019587,#fff); position: absolute;
top: -20px;
left: 0;
z-index: -1;
transform: rotate(10 deg);
border-top-left-radius: 35px; border-bottom-right-radius: 35px;
}

.title-text h1{
font-size: 50px;
}
.feature-box{
width: 80%;
margin: auto;
display: flex;
flex-wrap: wrap;
align-items: center; 
text-align: center; 
}
.features{
flex-basis: 50%;
}
.features-img{ 
flex-basis: 50%;
 margin: auto; 
}
 .features-img img{
  width: 70%;
  
}
.features h1{
text-align: left; 
margin-bottom: 10px; 
font-weight: 100; 
color: #009688;
 }
.features-desc{
display: flex;
align-items: center;
margin-bottom: 40px; 
}
.feature-icon .fa{
				width:50px;
				height:50px;
				font-size:30px;
				line-height:50px;
				border-radius:8px;
				color:#009688;
				border:1px solid #009688;
}
.feature-text p{
padding: 0 20px;
text-align: initial;
}
@media screen and (max-width: 770px){ 
.title-text hl{ 
font-size: 35px;

}
.features{
flex-basis: 100%;
}
.features-img{ 
flex-basis: 100%;

}

.features-img img{ 
width: 100%;

}

}
#service{
width: 100%;
padding: 70px 0;
background: #efefef;
}
.service-box{
width: 80%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
 margin: auto;

}
.single-service{
flex-basis: 48%;
text-align: center;
border-radius: 7px;
margin-bottom: 20px;
color: #fff;
position: relative;
} 
.single-service img{ 
width: 95%; 
border-radius: 18px;


}
.overlay{
width: 100%;
height: 100%;
position: absolute;
top: 0;
border-radius: 7px;
cursor: pointer;
background: linear-gradient(rgba(0,0,0,0.5), #009688);
opacity: 0;
transition: 1s;
}
.single-service:hover .overlay{
opacity: 1;
}
.service-desc{ 
width: 80%;
position: absolute;
bottom: 0;
left: 50%;
opacity: 0;
transform: translateX(-50%);
transition: 1s;
}
hr{
background: #fff;
height: 2px;
border: 0;
margin: 15px auto;
width: 60%;
}
.service-desc p{ 
font-size: 14px;

} 

.single-service:hover .service-desc{
bottom: 40%; 
opacity: 1;
}
@media screen and (max-width: 770px) { 

.single-service{
flex-basis: 100%; 
margin-bottom: 30px;

}

.service-desc p{
 font-size: 12px;

} 

hr{
margin: 5px auto;
}
.single-service:hover .service-desc{ 
bottom: 25% !important; 

}
}

#testimonial{ 
width: 100%; 
padding: 70px 0; 
}
.testimonial-row{
width: 80%;
margin: auto;
display: flex; 
justify-content: space-between;
align-items: flex-start;
flex-wrap: wrap;

}
.testimonial-col{
flex-basis: 28%;
padding: 10px;
margin-bottom: 30px;
border-radius: 5px;
box-shadow: 0 10px 20px 3px #00968814;
cursor: pointer;
transition: transform 0.5s;

}
.testimonial-col p{
 font-size: 14px;
}
.user{
display: flex;
align-items: center;
margin: 20px 0;
}
.user img{ 
width: 40px;
margin-right: 20px;
border-radius: 3px;
}
.user-info .fa{
margin-left: 10px;
color: #27c0ff;
font-size: 20px;
}
.user-info small{
 color: #009688;
}
.testimonial-col:hover{
 transform: translateY(-7px); 
 }
@media screen and (max-width: 770px) {
.testimonial-col{
flex-basis: 100%; 
}
}
#footer {
padding: 100px 0 20px;
 background: #efefef;
 position: relative;

}

.footer-row{
width: 80%;
justify-content: space-between;
margin: 0 auto;
display: flex;
flex-wrap: wrap;

}
.footer-left,.footer-right{
flex-basis: 45%;
 padding: 10px; 
 margin-bottom: 20px;

}

.footer-right{ 
text-align: right;
 }

.footer-row h1{
 margin: 10px 0;
 }
.footer-row p{ 
 line-height: 35px;
  }
 .footer-left .fa,.footer-right .fa{
font-size: 20px;
color: #009688;
margin: 10px;
}
.footer-img{
max-width:370px;
opacity: 0.1;
position: absolute;
left:50%;
top:35%;
transform: translate(-50%,-50%);
				
}
.social-links{
text-align: center;


}

.social-links .fa{
height: 40px;
width: 40px;
font-size: 20px;
line-height: 40px;
border: 1px solid #009688;
margin: 40px 5px 0;
color: #009688;
cursor: pointer; 
transition: .5s;




}

.social-links .fa:hover{
background: #009688;
color: #fff;
transform: translateY(-7px);

}
.social-links p{
font-size: 12px;
margin-top: 20px;
}
@media screen and (max-width: 770px) { 
.footer-left,.footer-right{
flex-basis: 100%;
font-size: 14px;
}
footer-img{
top: 25%;

}

}
.BT{
				background:#009688;
				color:white;
				border-radius: 8px;
				font-weight: bold;
				font-size: 15px;
				
}
#servicers{
width: 100%;
padding: 70px 0;
background: #efefef;
}
.service-boxi{
width: 80%;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
 margin: auto;

}
.single-servicers{
flex-basis: 48%;
text-align: center;
border-radius: 7px;
margin-bottom: 20px;
color: #fff;
position: relative;
} 
.single-servicers img{ 
width: 100%; 
border-radius: 7px;

}
.overlayi{
width: 100%;
height: 100%;
position: absolute;
top: 0;
border-radius: 7px;
cursor: pointer;
background: linear-gradient(rgba(0,0,0,0.5), #009688);
opacity: 0;
transition: 1s;
}
.single-servicers:hover .overlayi{
opacity: 1;
}
.service-desces{ 
width: 80%;
position: absolute;
bottom: 0;
left: 50%;
opacity: 0;
transform: translateX(-50%);
transition: 1s;
}
hr{
background: #fff;
height: 2px;
border: 0;
margin: 15px auto;
width: 60%;
}
.service-desces p{ 
font-size: 14px;

} 

.single-servicers:hover .service-desces{
bottom: 40%; 
opacity: 1;
}
@media screen and (max-width: 770px) { 

.single-servicers{
flex-basis: 100%; 
margin-bottom: 30px;

}

.service-desces p{
 font-size: 12px;

} 

hr{
margin: 5px auto;
}
.single-servicers:hover .service-desces{ 
bottom: 25% !important; 

}
}
#booker{
width: 100%;
padding: 70px 0;
background: #efefef;
}
.container{

width: 300px;

height: auto;

background: ##e4e4e4;

border: 1px solid black;

margin: auto;

margin-top: 20px;

border-radius: 6%;

}
.box{

width: 50%;

padding: 10px;

align-items:center ;

}

form input{

outline: none;

padding: 5px;

margin: 7px;

}
.button{

width: 80px;

height: 27px;

margin-top: 10px;

background:#009688;

border: medium none;

}

